.bg-image {
  background-image: url("/images/scenery.jpg");
  background-attachment: fixed;
  background-position: top;
  width: 1200px;
  height: 800px;
}
.p-inset{
    border-style: inset;
    /* background-color: blue; */
    color: white;
    border-color: burlywood;
    border-width: thick;
}
.p-mixed{
    border-style: dotted dashed solid double;
    border-color: azure;
}
